body{
    background: radial-gradient(rgb(17, 68, 17),black);
  }
.conversor{
    padding: 20px ;
    max-width: 300px;
    background: rgb(49, 47, 47);
    border-radius: 5px;
    box-shadow: 1px 1px 10px #222;
}
.caixa{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    color: #fff;
}
input{
    padding: 5px;
    background-color: #E8E8E8;
    border: none;
}
button{
    background-color: rgb(22, 53, 22);
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid #222;
}